<div class="col-lg-2 col-md-3 sidebar">

    <h4 class="text-center text-white mb-4">

        Navigation

    </h4>

    <a href="/">

        <i class="bi bi-speedometer2"></i>

        Dashboard

    </a>

    <a href="/certificates">

        <i class="bi bi-file-earmark-lock"></i>

        Certificates

    </a>

    <a href="/create-request">

        <i class="bi bi-file-earmark-plus"></i>

        Generate CSR

    </a>

    <a href="/upload-certificate">

        <i class="bi bi-upload"></i>

        Upload Certificate

    </a>

</div>